@font-face{
    font-family: Livvic-Medium;
    src: url(.././fonts/Livvic-Medium.ttf)
}
@font-face{
    font-family: Livvic-Bold;
    src: url(.././fonts/Livvic-Bold.ttf)
}
@font-face{
    font-family: Livvic-SemiBold;
    src: url(.././fonts/Livvic-SemiBold.ttf)
}
@font-face{
    font-family: Livvic-Black;
    src: url(.././fonts/Livvic-Black.ttf)
}
@font-face{
    font-family: Livvic-Light;
    src: url(.././fonts/Livvic-Light.ttf)
}
